* {
  box-sizing: border-box;
  border: thin solid red;
}

#messi {
position: absolute;
right: 650px;
bottom: 567px;

}

#argentina {
  position: absolute;
  bottom: 400px;
  width: 100px;
  height: 150px;
  left: 700px;
  bottom: 640px;
}

#psg {
position: absolute;
width: 100px;
height: 100px;
bottom: 570px;
left: 700px;
}

#carta-fifa {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
